{{template "master.html" .}} {{define "layoutcontent"}}
<div class="container">
  <div class="columns is-multiline">
    <div class="column is-6">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://source.unsplash.com/random/1280x960" alt="Placeholder image">
          </figure>
        </div>
      </div>

    </div>
    <div class="column is-6">
      <div class="content">
        <h4 class="is-title">Product Name</h4>
        <h6 class="is-subtitle">R55.00</h6>
        <p class="subtitle">beskrywing </p>
        <div class="content">

          Sizes / Kleure / whatever

        </div>
        <p class="is-size-5">7 in stock</p>
        <form action="" method="get">
          <div class="content">
            <div class="level">
              <div class="level-left">
                <p class="level-item" for="quantity">Quantity:</p>
              </div>
              <div class="control level-item px-3 py-3">
                <input class="input" type="text" placeholder="Small input">
              </div>
              <div class="level-right">
                <button type="submit" class="button level-item" value="Order Now!">Add</button>
              </div>
            </div>
          </div>
        </form>
        <div class="content pt-4">
          <h6>Category: <span><a href="#">Pants</a>,<a href="#">Women</a>,<a href="#">Lifestyle</a></span></h6>
          <div class="content py-4">
            <h6>Share: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                    class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}