{{template "master.html" .}}
{{define "layoutcontent"}}
<section class="container">
    <div class="columns is-multiline">
        <div class="column">
            <div class="columns is-multiline">
                <div class="column is-2">
                    <figure class="image is-128x128">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                </div>
                <div class="column is-6">
                    Item is lekker
                </div>
                <div class="column is-4">
                    qty
                </div>
            </div>
        </div>
        <div class="column is-3 right-image " data-aos="fade-left">
            <div class="content">
                <p class="sub-title">Cart Summary</p>
                <p class="content">Total</p>
                <a class="button">
                    Proceed
                </a>
            </div>
        </div>
    </div>
    {{end}}