{{template "master.html" .}} {{define "layoutcontent"}}
<!-- Begin Header -->
<div class="header-wrapper" id="home">
  <!-- Begin Hero -->
  <section class="hero is-medium herocolour">
    {{template "mobilenav.html" .}}
    <!-- Begin Hero Content-->
    <div class="hero-body"
      style="background-image: url('{{ index .Endpoints "artifact"}}/download/{{.Folio.Banner.Background}}'); background:linear-gradient(rgba(0, 0, 1, 0.4), rgba(0, 0, 2, 0.40)), rgba(0, 0, 0, 0.4) url('{{ index .Endpoints "artifact"}}/download/{{.Folio.Banner.Background}}') no-repeat;">
      <div class="container has-text-centered">
        <h2 class="title colourTertiary is-1">{{.Folio.Banner.Heading}}</h2>
        <h1 class="subtitle colourPrimary profession is-3">
          <b>{{.Folio.Banner.Subtitle}}</b></h1>
      </div>
    </div>
  </section>
  <div class="pt-3 pt-0 px-3">
    {{template "shopmenu.html" .}}
  </div>
</div>

<!-- End Header -->
<div class="section-light about-me px-2" id="about-me">
  <div class="columns is-multiline">
    <div class="column is-6 has-vertically-aligned-content" data-aos="fade-right">
      <figure class="image is-640x320">
        <img src="https://bulma.io/images/placeholders/640x320.png">
      </figure>
    </div>
    <div class="column is-6 has-vertically-aligned-content" data-aos="fade-left">
      <figure class="image is-640x320">
        <img src="https://bulma.io/images/placeholders/640x320.png">
      </figure>
    </div>
  </div>
</div>
<hr>
<section class="container">
  <div class="columns is-multiline">
    <div class="column">
      <div class="columns is-multiline">
        <div class="column is-6">
          <div class="card large">
            <div class="card-image">
              <figure class="image is-640x320">
                <img src="https://bulma.io/images/placeholders/640x320.png">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <a href="facebook.com" class="title is-4 no-padding">Category</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3 right-image" data-aos="fade-left">
      <div class="content">
        <p class="title">Get it</p>
        <p class="subtitle colourSecondary">Quick search</p>
        <div class="list is-hoverable">
          <a class="list-item"> Salty Safari wear </a>
          <a class="list-item"> Eye & head Protection </a>
          <a class="list-item"> Overalls </a>
          <a class="list-item"> Hand protection </a>
          <a class="list-item"> Boots & Safety Shoes </a>
          <a class="list-item"> Road Safety Equipment </a>
          <a class="list-item"> Disposable workwear </a>
          <a class="list-item"> Freezer wear </a>
          <a class="list-item"> Respiratory protection </a>
          <a class="list-item"> Welding Accesories </a>
        </div>
      </div>
    </div>
  </div>
  <div class="columns features">
    <div class="column is-4">
      <div class="card is-shady">
        <div class="card-image has-text-centered">
          <i class=""></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>{{.Folio.SectionA.Heading}}</h4>
            <p>
              {{.Folio.SectionA.Text}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-8">
      <div class="card is-shady">
        <div class="card-image has-text-centered">
          <i class=""></i>
        </div>
        <div class="card-content">
          <div class="content">
            <h4>{{.Folio.SectionB.Heading}}</h4>
            <p>
              {{.Folio.SectionB.Text}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}